@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300&family=Roboto&family=Scada&family=Work+Sans:wght@200;400;500;800&display=swap');

$primary-light: rgb(249, 249, 249);
$secondary-light: rgb(235, 242, 250);
$primary-dark: black;
$secondary-dark: rgb(50, 50, 50);
$primary-color-light: rgb(232, 233, 237);
$primary-color-med: rgb(76, 134, 168);
$primary-color-dark:rgb(61, 43, 61);
$font1: Work Sans;
$font2: Poppins;


body {
    background-color: $primary-light;
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: 0;
    height: 100%;
    max-height: 100%;
    justify-content: center;
    font-family: $font1;
    font-weight: 400;
    font-size: 18px;
    color:$secondary-dark;
    cursor: default;
}

#root {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    max-width: 95%;
    width: 95%;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-basis: 80%;
}

h1 {
    text-align: center
}

.addTask {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    margin-bottom: 50px;
    margin-top: 30px;
    height: 50px;
    align-items: stretch;
}

#taskInput {
    border-radius: 7px;
    border: 1px solid $secondary-light;
    width: 75%;
    height: 2rem;
    padding-left: 5px;
    color: $primary-color-med;
    font-size: 18px;
    height: 100%;

    &:hover {
        border: 1px solid $primary-color-light;
    }

    &:focus {
        outline: none;
    }
}

#addButton {
    width: 10%;
    background-color: $primary-color-light;
    color: $primary-color-dark;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid $primary-color-light;

    &:hover {
        background-color: $primary-color-med;
        cursor: pointer;
        border: 1px solid $primary-color-med;
        color: $secondary-light;
    }

    &:active {
        background-color: $primary-color-dark;
        cursor: pointer;
        border: 1px solid $primary-color-dark;
        color: $primary-light;
    }
}

.task {
    display: flex;
    gap: 20px;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    align-items: center;
    border-radius: 14px;
    font-family: $font2;

    &:hover {
        background-color: $primary-color-light;
    }
}

#costInput {
    width: 10%;
    min-width: 59px;
    border: 1px solid $secondary-light;
    border-radius: 7px;
    outline: none;
    font-size: 18px;
    color: $primary-color-med;

    &:hover {
        border: 1px solid $primary-color-light;
    }
}

label {
    display: flex;
    flex-direction: column;

    input {
        width: 20px;
        height: 20px;
        align-self: center;
        border: 1px solid $primary-light;
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:active {
        color: $primary-color-med;
    }
}

.columns {
    display: flex;
    gap: 20px;
    white-space: nowrap;
    font-size: 22px;
}

.completedRadio {
    width: 132px;
    height: 20px;
    cursor: pointer;
}

.taskText {
    display: flex;
    flex-basis: 40%;
    max-width: 40%;
    flex-wrap: wrap;
    flex-grow: 1;
    min-width: 127px;
}

#taskName {
    display: flex;
    justify-content: center;
    flex-basis: 40%;
    max-width: 40%;
    flex-grow: 1;
}

.costValue {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: center;
    white-space: nowrap;
}

#optionsColumn {
    display: flex;
    justify-content: center;
    flex-basis: 10%;
    flex-grow: 1;
    min-width: 133px;
}

.options {
    display: flex;
    justify-content: center;
    flex-basis: 10%;
    gap: 1em;
    flex-grow: 1;
    flex-wrap: nowrap;
    right: 0;

    button {
        max-width: 100%;
        background-color: $primary-color-light;
        color: $primary-color-dark;
        border-radius: 7px;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid $primary-color-light;
        
        &:hover {
            background-color: $primary-color-med;
            cursor: pointer;
            border: 1px solid $primary-color-med;
            color: $secondary-light;
        }
    
        &:active {
            background-color: $primary-color-dark;
            cursor: pointer;
            border: 1px solid $primary-color-dark;
            color: $primary-light;
        }
    }
}

#taskType {
    width: 10%;
    text-align: center;
    min-width: fit-content;
}

.taskTypeValue {
    width: 10%;
    text-align: center;
    min-width: 110px;
}

#costColumn {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#noTasks {
    text-align: center;
    color: $primary-color-light;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    color: $primary-color-med;

    &:hover {
        color: $primary-color-dark;
        cursor: default;
    }
}

.completedTask {
    display: flex;
    gap: 20px;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    align-items: center;
    border-radius: 14px;
    font-family: $font2;
    color: $primary-color-dark;

    &:hover {
        background-color: $primary-color-light;
        color: $primary-color-dark
    }
}

hr {
    fill: $primary-color-med;
    border: 1px solid $primary-color-light;
    outline: 1px solid $primary-color-light;
}

.bikeButton {
    // margin-top: 20px;
    padding: 5px;
    background-color: $primary-color-light;
    border: none;
    font-size: 18px;
    font-family: $font2;
    border-radius: 7px;
    min-height: fit-content;

    &:hover {
        background-color: $primary-color-med;
        cursor: pointer;
        color: $secondary-light;
    }

    &:active {
        background-color: $primary-color-dark;
        cursor: pointer;
        color: $primary-light;
    }
}

.currentBike {
    // margin-top: 20px;
    padding: 5px;
    background-color: $primary-color-dark;
    border: none;
    font-size: 18px;
    font-family: $font2;
    border-radius: 7px;
    min-height: fit-content;
    color: $primary-light;

    &:hover {
        background-color: $primary-color-med;
        cursor: pointer;
        color: $secondary-light;
    }

    &:active {
        background-color: $primary-color-dark;
        cursor: pointer;
        color: $primary-light;
    }
}

#deleteBike {
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(181, 101, 118);
    border: none;
    font-size: 18px;
    font-family: $font2;
    border-radius: 7px;
    min-height: fit-content;
    color: $primary-light;

    &:hover {
        background-color: rgb(161, 7, 7);
        cursor: pointer;
        color: white;
    }

    &:active {
        background-color: $primary-color-dark;
        cursor: pointer;
        border: 1px solid $primary-color-dark;
        color: $primary-light;
    }
}



.prompt {
    display: none;
    height: 49px;
    justify-content: space-between;

    input {
    border-radius: 7px;
    border: 1px solid $secondary-light;
    width: 20%;
    height: 2rem;
    padding-left: 5px;
    color: $primary-color-med;
    font-size: 18px;
    height: 100%;

    }

    #addBikeButton:hover {
        cursor: pointer;
    }
}

.bikeButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;

        div {
            display: flex;
            gap: 1em;
            flex-wrap: wrap;
        }

        p {
            font-size: 14px;
        }
}

#bikeContainer {
    display: flex;
    align-items: center;
}

.bikeImg {
    max-width: 50%;
    align-self: center;
    border-radius: 10px;
    -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }


#bigContainer {
    display: flex;
    flex-direction: column;
}

hr {
    min-width: 100%;
}